*{
  margin: 0px;
  padding: 0px;
}
.body{
  height: 2400px;
  width:100% ;
  background-color: rgba(0,0,0,1);
  justify-items: center;
  color:white;
}
 header{
   width:100%;
   height: 6%;
   background-color:white;
   color:black;
   justify-items: center;
   margin:0px;
            p{
              margin-top: 2%;
              font-weight: 600;
            }
 } 
  .logo-panel{
    width:100%;
    height: 8%;
    margin-top:-9%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color:rgba(0,0,0,1);
    border-radius: 70px;
      }
    
    .logo{
      height: 100%;
      
    img{
      margin-top:2%;
      height: 70%;
    }
          h1{
      font-size:300%;
      color:white;
      font-weight: 900;
    }
      p{
        font-size: 100%;
        font-weight: 900;
        
      }
  }
    .description{
    background-color:#D9D9D9;
    height: 6%;
    width:95%;
    margin-top:60px; 
      margin-bottom: 30px; 
    border-radius: 15px;
    background-image: linear-gradient(#D9D9D9,black);
    justify-items: center;
    align-content:center;
      justify-content: center;
    p{
      margin-top:-40px;
      font-size: 160%; 
      font-family:  cursive;
      text-align: center;
      color:black;
    }
      
    }

h3{
  font-family:cursive;
  font-size: 200%;
}

.customer{
  height: 8%;
  width:100%;
  background-color: ;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  div{
    height: 150px;
    width:150px;
    border-radius: 50%;
    background-color:#D9D9D9;
  }
}

.detail-software{
  display: flex;
  justify-content:center;
  justify-items: center;
  height: 8%;
  width:100%;
  margin-top: 5%;
  margin-bottom: 0px;
  div{
    height: 50%;
    width:40%;
    background-color: #D9D9D9;
    margin-right:1%;
    margin-left: 1%;
  }
}
.detail-language{
  margin-top:-6%;
  display: flex;
  justify-content:center;
  justify-items: center;
  height: 8%;
  width:100%;
  div{
    height: 50%;
    width:30%;
    background-color: #D9D9D9;
    margin-right:1%;
    margin-left: 1%;
  }
}

