*{
  margin: 0px;
  padding: 0px;
}
.body{
  height: 2400px;
  width:100% ;
  background-color: rgba(0,0,0,1);
  justify-items: center;
  color:white;
}
 header{
   width:100%;
   height: 6%;
   background-color: white;
   color:black;
   justify-items: center;
            p{
              margin-top: 2%;
              font-weight: 600;
            }
 } 
  .logo-panel{
    width:100%;
    height: 8%;
    margin-top:-9%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color:rgba(0,0,0,1);
    border-radius: 70px;
      }
    
    .logo{
      height: 100%;
      
    img{
      margin-top:2%;
      height: 70%;
    }
          h1{
      font-size:300%;
      color:white;
      font-weight: 900;
    }
      p{
        font-size: 100%;
        font-weight: 900;
        
      }
  }
    .description{
    background-color:#D9D9D9;
    height: 13%;
    width:100%;
    margin-top:30px; 
      margin-bottom: 50px; 
    border-radius: 10px;
    background-image: linear-gradient(black,white,black);
    justify-items: center;
    align-content:center;
    p{
      font-size: 140%; 
      font-family:  cursive;
    }
    a{
      font-weight: 900;
      text-decoration: none;
      color:#737D6F;
    }
    }

 .detail-panel{
    margin-top:-13%; 
    height: 18%;
    width:100%;
    background-image:linear-gradient(white,#686675);
    justify-items: center;
    align-content:center;
    .brand-details{
      height: 8%;
      width:100%;
      justify-items: center;
      margin-top: 2%;
      margin-bottom: 4%;
      color:white;
    }
    hr{
      margin: 1%;
      width:90%;
      height: 2px;
      border:0px;
      background-color:white;
      
    }
    .developer-details{
      height: 7%;
      width:100%;
      justify-items: center;
      align-content:center;
      justify-content:center;
      justify-items: center;
      margin-top: 1%;
      img{
        height: 10%;
        width:10%;
        
      }
    }
}
    
.animation{
  .border-white:hover{
    border:2px solid white;
    border-radius: 5px;
  }
  .border-black:hover{
    border:2px solid black;
    border-radius: 5px;
  }
  input:active{
    text-decoration: none;
  }
  button:hover{
    background-color: #D9D9D9D9; 
  }

}

