*{
  margin: 0px;
  padding: 0px;
}

body{
  height:2400px;
  color:white;
  justify-items: center;
  background-color:black; 
}
.header{
  height: 6%;
  width:100%;
  background-color: aqua;
  justify-items:center;
  color:black;
  h6{
    position:relative;
    top:20%;
  }
  
}
.logo{
  background-color: black;
  height: 10%;
  justify-items: center;
  text-align: center;
  border-radius: 50px;
  margin-top:-4%;
  margin-bottom: 4%;
  
  img{
    margin-top:1%; 
    height: 40%;
  }
  p{
    font-weight: 600;
  }
  div{
    width:90%;
  }
}
  .advertisment{
      background-color:;
      height: 13%;
      width:90%;
      margin-top:10px; 
      border-radius: 10px;
      background-image: linear-gradient(#D9D9D9, black);
      justify-items: center;
      align-content:center;
      justify-content: center;
      align-items:center;
      p{
        font-size: 140%; 
        font-family:  cursive;
      }
      a{
        font-weight: 900;
        text-decoration: none;
        color:#737D6F;
      }
      }
    .notice-panel{
      background-color: #737D6F;
      height: 3%;
      width:65%;
      border-radius: 10px;
      margin-top:-60px;
      color:white;
      justify-items: center;
      align-content:center;
    }