*{
  margin: 0px;
  padding: 0px;
}
.body{
  height: 2400px;
  width:100% ;
  background-color: rgba(0,0,0,1);
  justify-items: center;
  color:white;
}
 header{
   width:100%;
   height: 6%;
   background-color: ;
   color:black;
   justify-items: center;
            p{
              margin-top: 2%;
              font-weight: 600;
            }
 } 
  .logo-panel{
    width:100%;
    height: 8%;
    margin-top:-9%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color:rgba(0,0,0,1);
    border-radius: 70px;
      }
    
    .logo{
      height: 100%;
      
    img{
      margin-top:2%;
      height: 70%;
    }
          h1{
      font-size:300%;
      color:white;
      font-weight: 900;
    }
      p{
        font-size: 100%;
        font-weight: 900;
        
      }
  }
    .description{
    background-color:#D9D9D9;
    height: 6%;
    width:95%;
    margin-top:60px; 
      margin-bottom: 50px; 
    border-radius: 10px;
    background-image: linear-gradient(aqua,black);
    justify-items: center;
    align-content:center;
      justify-content: center;
    p{
      font-size: 140%; 
      font-family:  cursive;
      text-align: center;
      color:black;
    }
      
    }

h3{
  font-family:cursive;
}
hr{
  height: 4px;
  width:90%;
  background-image:linear-gradient(black,aqua,black); 
  border:0px
}
.customer{
  height: 8%;
  width:100%;
  background-color: ;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  div{
    height: 150px;
    width:150px;
    border-radius: 50%;
    background-image:linear-gradient(aqua,black);
  }
}

