*{
  margin: 0px;
  padding: 0px;
}

body{
  height:2400px;
  color:white;
  justify-items: center;
  background-color:black; 
}
.header{
  height: 3%;
  width:100%;
  background-color: aqua;
  justify-items:center;
  color:black;
  h6{
    position:relative;
    top:10%;
  }
  
}
.logo{
  background-color: black;
  height: 10%;
  justify-items: center;
  text-align: center;
  border-radius: 50px;
  margin-top:-4%;
  margin-bottom: 4%;
  
  img{
    margin-top:1%; 
    height: 40%;
  }
  p{
    font-weight: 600;
    margin-bottom: 0px; 
  }
  div{
    width:90%;
  }
}

  .service-box{
    margin-bottom: 10px;
      height: 43%;
      width:90%;
      margin-top:-5%; 
      border-radius: 10px;
      background-image: linear-gradient(#2A1F1F,black);
      justify-items: center;
      justify-content: center;
      align-items:center;
    text-align: center;
      h5{
        font-size: 170%; 
        font-family:  cursive;
      }
      div{
        height: 30%;
        width:90%;
        margin-bottom: 2%;
        background-image: linear-gradient(#AE7B7B,#342A2A,black);
        justify-items: center;
        align-items: center;
      }
  }
.poster{
  height: 20%;
  width:100%;
  background-color:black;
}
 .project-box{
      margin-top:10px;
      height: 43%;
      width:90%;
      border-radius: 10px;
      background-image: linear-gradient(#2A1F1F,black);
      justify-items: center;
      justify-content: center;
      align-items:center;
    text-align: center;
      h5{
        font-size: 170%; 
        font-family:  cursive;
      }
      div{
        height: 30%;
        margin-bottom: 2%;
        width:90%;
        background-image: linear-gradient(#AE7B7B,#342A2A,black);
        justify-items: center;
        align-items: center;
      }
  }
